.video-content
{
	width: 55%;
	height: auto;
	display: inline-block;
}

.related-videos
{
	width: 40%;
	height: auto;
	display: inline-block;
}

.video-view 
{
	width: 100%;
	height: auto;
}

.text-area
{
	background-color: #f5f5f5;
	border-style: groove;
    border-width: 4px;
    border-color: rgb(160, 160, 160);	
	resize: none;
	font-size: 14px;
	width: 100%;
}

.h150p
{
	height: 150px;
}

.w400p
{
	width: 400px;
}

.maincontainer
{
	height: 100%;
	width: 100%;
}

.comment-list
{
	border: 4px groove rgb(160, 160, 160);
	background-color: #f5f5f5;
	min-height: 300px;
	height: auto;
}

.comment-text
{
	font-size: 13px;
	display: inline-block;
	width: 90%;
	word-wrap: break-word;
}

.author
{
	font-size: 17px;
	display: inline-block;
}

.comment
{
	margin-left: 5px;
}

.comment-post
{
}

.video-title
{
	font-size: 25px;
	font-weight: normal;
}

.video-description
{
	font-size: 15px;
	height: auto;
	margin-left: 40px;
	word-wrap: break-word;
}

.vide-desc.text
{
	font-size: 13px;
	font-weight: normal;
}

.desc-text
{
	font-size: 20px;
	text-shadow: 1px 1px #FF0000;
}
